body,html {
    height: 100%;
    background-color: rgb(192, 179, 161);
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

nav{
    max-width:none;
    margin:auto;
    background-color:#e6cda8;
    font-size: 19px;
    
}
.listado{
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 3px;
    margin: 0;
}

.listado > li > a{
    display: block;
    padding: 15px 15px;
    color:black;
    text-decoration:none;
           
}
.listado >li:hover {
    background-color: #ceb084;
    border-radius: 20px;
}
.Contenido{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #e6cda896;
    padding: 10px;
    z-index: 9999;
    border-radius: 20px;    
}

.listado li:hover .Contenido{
    display: block;
}


.Contenido li:hover{
    background-color: #ceb084;
    border-radius: 20px;
     
}

.listado li a{
    display: block;
    color:rgb(88, 71, 15);
    padding: 15px 15px;
    text-decoration: none;
    justify-content: center;
    
}
h1, h2 {
    color: rgb(114, 100, 61); /* Color oscuro */
}

header {
    text-align: center;
    padding: 30px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

/* Sección de contenido */
section {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(218, 210, 198); /* Fondo suave para las secciones */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para listas dentro de las secciones */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

ul li strong {
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Subrayado en hover */
}

/* Estilo para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
footer{
    background-color: white;
    padding: 10px;
    display: flex;
}
.containerlogo{
    flex: 1;
    text-align: left;
}
.logo{
    width: 150px;  
    margin-left: 90px;
    
}
.contacto{
  
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.terminos{
 
    flex: 1;
    text-align: right;
    margin-top: 30px;
    
}