body,html {
    height: 100%;
    background-color: rgb(192, 179, 161);
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

nav{
    max-width:none;
    margin:auto;
    background-color:#e6cda8;
    font-size: 19px;
    
}
.listado{
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 3px;
    margin: 0;
}

.listado > li > a{
    display: block;
    padding: 15px 15px;
    color:black;
    text-decoration:none;
           
}
.listado >li:hover {
    background-color: #ceb084;
    border-radius: 20px;
}
.Contenido{
    position: absolute;
    display: none;
    list-style: none;
    width: 220px;
    background-color: #e6cda896;
    padding: 10px;
    z-index: 9999;
    border-radius: 20px;    
}

.listado li:hover .Contenido{
    display: block;
}


.Contenido li:hover{
    background-color: #ceb084;
    border-radius: 20px;
     
}

.listado li a{
    display: block;
    color:rgb(88, 71, 15);
    padding: 15px 15px;
    text-decoration: none;
    justify-content: center;
    
}
h1{
    margin: 50px;
    text-align: center;
    margin-bottom: 50px; 
    font-family:Arial, Helvetica, sans-serif;
    color: #6e5f3b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 120px;
}

.columnaIzq {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.sala {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.imagenSala {
    width: 100%;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
}

.descripcion {
    margin-top: 25px;
    font-size: 18px;
    color: #5e4b16;
}

.columnaDer {
    width: 40%;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.imagenEdificio {
    width: 100%;
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}
.descripcionEdificio{
    margin-top: 25px; 
    font-size: 20px;
    font-weight: 600;
    color: #5e4b16;
    margin-bottom: 20px;
}

footer{
    background-color: white;
    padding: 10px;
    display: flex;
}
.containerlogo{
    flex: 1;
    text-align: left;
}
.logo{
    width: 150px;  
    margin-left: 90px;
    
}
.contacto{
  
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.terminos{
 
    flex: 1;
    text-align: right;
    margin-top: 30px;
    
}
